/* The whole category */
.projects {
    width: 100%;
    height: 100dvh;

    & > div > * {
        width: 100%;
        padding-inline: 1.5rem;
    }
}

/* Routing & Controls */
.tabs_panel {
    & > *:last-child { height: 100% }
    & > *:last-child {
        border-bottom: 
            hsla(from var(--clr-disabled) h s l / .2)
            .1dvh solid;
    }
}