.container {
    width: 100%;
    padding-block: .75rem;
    justify-content: space-between;

    & > *:last-child { width: fit-content }
    
    &:hover { background: var(--clr-dp-04) !important }
}

.info {
    padding-left: 1.25rem;

    & span { color: var(--clr-white-medium) }
    
    & > div {
        display: flex;
        gap: .5rem;
        min-width: 17.5dvw;
        padding-inline: .25rem;
    }
}

.container, .info {
    display: flex;
    flex-direction: row;
    align-items: center;
}