.routing_panel {
    /* Customize through props */
    /* background: var(--clr-dp-04); */
    display: grid;
    gap: .25rem;
}

.tabs {
    --_tab-spacing: 1rem;
    
    & > ul {
        display: flex;
        flex-direction: row;
        
        & > li { padding-block: 1rem }
        
        & > li > * {
            font-weight: initial;
            height: 100%;
        }
        
        & > li:not(:first-child) {
            margin-left: calc(var(--_tab-spacing) + 1ch);
            padding-left: calc(var(--_tab-spacing) + 1ch);
            display: list-item;
            list-style: '/';
        }

        & > li::marker { color: var(--clr-disabled) }
    }
}

.tab__active {
    border-color: var(--clr-white-high);
    & * { color: var(--clr-white-high) !important }
}