.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: max-content;
    min-width: 250px;
    background: var(--clr-dp-02);
    color: var(--clr-primary-white);
    border-radius: var(--radius-low);   
    padding-left: 1rem;
    gap: .75rem;
    
    & > input { padding: .75rem 0 .75rem 0; flex: 1 }
    &:first-child { line-height: 0 }
}