.loader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 100;
	height: 100%;
	gap: 5dvh;

	transform: translateY(-5dvh);
}

.loader > div:first-of-type {
	position: relative;
	display: grid;
	place-items: center;
}

.loader > div:last-child {
	position: relative;
	text-align: center;
}

/* Leafs */
.loader > div:first-of-type > span {
	position: absolute;
	width: var(--prtcl-size);
	height: var(--prtcl-size);
	border-radius: 55% 10%;
	animation: main_loading 2.8s infinite ease-in-out;
	animation-delay: calc(-2.8s * .7);
}

@keyframes main_loading {
	0% {
		transform: rotate(calc(0deg * var(--order)));
		transform-origin: bottom left;
		opacity: 0;
	}
	25% { transform: rotate(calc(90deg * var(--order))); }
	50% {
		transform: rotate(calc(180deg * var(--order)));
		box-shadow: 0 0 0 0 var(--clr-loading-glow);
	}
	75% {
		transform: rotate(calc(270deg * var(--order)));
		box-shadow: 0 0 var(--prtcl-size) 0 var(--clr-loading-glow);
		transform-origin: bottom left;
		opacity: 1;
	}
	100% {
		transform: rotate(calc(360deg * var(--order)));
		transform-origin: top left;
		opacity: 0;
	}
}