/node_modules
.yarn/install-state.gz

# Debug
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
*.env
*.env.example
*.env.local
*.env.staging

# typescript
*.tsbuildinfo
next-env.d.ts