.not_found {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    inset: 0;

    & * { text-transform: none }
}

.wrapper {
    transform: translateY(-50%);
    margin: auto;
}

.image {
    display: flex;
    margin-bottom: 1.5rem;
    & img {
        min-height: 9dvh;
        min-width: 9dvh;
        opacity: .38;
        margin-inline: auto;
    }
}