.tag {
    width: fit-content;
    height: max-content;
    text-transform: lowercase;
    background: var(--clr-dp-04);
    border-radius: var(--radius-medium);
    border: 2px solid transparent;
    color: var(--clr-white-high);
    padding: .25rem .75rem;

    &, & * {
        display: inline-flex;
        align-items: center;
        color: inherit;
        gap: .5rem;
    }
}

.tag.tag-light {
    background: var(--clr-primary-white);
    color: var(--clr-primary-dark);

    & > span > div { display: none }
    
    &:hover > span > div {
        display: inline-flex;
        filter: brightness(0);
    }
}

.tag.tag-empty {
    color: var(--clr-white-medium);
    background: transparent;
    border-color: var(--clr-dp-08);
}

.tag.tag-disabled {
    color: var(--clr-disabled);
    pointer-events: none;
    user-select: none;
}