.planner {
    overflow-y: auto;
    height: 100%;
    width: 100%;

    & > section {
        padding: 2.5rem;
        & > div:last-of-type { margin-top: 2.5dvh }
    }
    
    & > section:not(:last-of-type) {
        border-bottom: 2px solid var(--clr-dp-08);
    }
}

.assignments_container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;

    & > div {
        display: contents;
    }
    
    & * { transition: all 1ms !important }

    /* this \/ sucks */
    &:has(section) > * { transform: translateY(25%) }
    /* & > * { height: auto } */
}

/* Top part */
.current_container {
    display: flex;
    flex-direction: row;
    flex-wrap: auto;
    min-height: 45dvh;
    height: 45dvh;
    max-height: 100%;
    /* border: 2px solid var(--clr-dp-04); */ /* temporary */
    border-radius: var(--radius-low);
    padding: 1rem 1.5rem;
    width: 100%;
    gap: 1rem;
}

.current_statistics {
    gap: 2rem;

    &, & > div:first-of-type {
        display: flex;
        justify-content: space-around;
    }

    & > div:first-of-type {
        flex-direction: column;
        gap: .75rem;
    }
    
    & > div { height: 100% }
}

.current_chats {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    background: var(--clr-dp-02);
    border-radius: var(--radius-low);
    padding: .75rem;
    height: 100%;
    width: 100%;
}

/* Current chat */
.chat { height: 100% }

.current_branches_container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}