.planner {
    width: 100%;

    & > section {
        padding: 2.5rem;
        & > div:last-of-type { margin-top: 1.5dvh }
    }
    
    & > section:not(:last-of-type) {
        border-bottom: 2px solid var(--clr-dp-08);
    }
}