/* Scrollbar track */
::-webkit-scrollbar { width: 12px }

::-webkit-scrollbar-thumb {
    background-color: var(--clr-dp-06);
    border-radius: var(--radius-high);
    border: 3px solid transparent;
}

::-webkit-scrollbar-track {
    /* var(--clr-dp-02) */
    background-color: none;
}

/* Heading Component */
.heading {
    margin: 0;
    text-transform: capitalize;
    text-wrap: pretty;
    font-weight: 600;

    &:has(img) { align-items: center }
}

.inline_heading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

/* vertically centered block */
.block_aligned {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

/* Random active link (Perhaps, not should be here) */
/* More likely, only related to the project's form */
.active_link {  
    color: var(--clr-primary-white) !important;
    text-decoration: underline;
    text-underline-offset: 100%;
    & * { color: inherit }
}

.active_text { color: var(--clr-primary-white) !important }

/* Modals */
.modals {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
}

.modal_container {
    position: absolute;
    background: var(--clr-dp-04);
    border-radius: var(--radius-low);
    filter: drop-shadow(0 0 .1dvw var(--clr-primary-dark));
    z-index: 11;
    padding: 1.25rem;
    margin-block: 1dvh;
}

#fmodals {
    position: absolute;
    z-index: 13;
    top: 0;
}

.fmodals_container {
    width: 100dvw;
    height: 100dvh;
    
    display: grid;
    place-items: center;
    &:has(*) { background: hsl(from var(--clr-dp-02) h s l / 60%) }
}

/* Font sizes */
*[data-font-size="massive"] { font-size: var(--font-size-massive) }
*[data-font-size="larger"] { font-size: var(--font-size-larger) }
*[data-font-size="large"] { font-size: var(--font-size-large) }
*[data-font-size="small"] { font-size: var(--font-size-small) }
*[data-font-size="default"] { font-size: var(--font-size-default) }

*[data-cursor="pointer"] { cursor: pointer }
*[data-cursor="normal"] { cursor: initial }

*[data-font-accent] *,
*[data-font-size] * {
    font-weight: inherit;
    font-size: inherit;
}

/* Clr & font clr variations */
*[data-font-accent="gradient"] {
    background: -webkit-linear-gradient(
        0deg,
        var(--clr-blue-02) -150%,
        var(--clr-primary-red) 200%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

*[data-font-accent="high"] { color: var(--clr-white-high) !important }
*[data-font-accent="medium"] { color: var(--clr-white-medium) !important }
*[data-font-accent="low"] { color: var(--clr-disabled) !important }

*[data-global-accent="high"] * {
    /* color: var(--clr-high) !important;
    &:is(img) { filter: brightness(.87) } */
    filter: brightness(.87)
}

*[data-global-accent="medium"] * {
    /* color: var(--clr-medium) !important;
    &:is(img) { filter: brightness(.6) } */
    filter: brightness(.6)
}

*[data-global-accent="low"] * {
    /* color: var(--clr-disabled) !important;
    &:is(img) { filter: brightness(.38) } */
    filter: brightness(.38)
}

*[data-font-weight="bold"] { font-weight: bold }
*[data-font-weight="normal"] { font-weight: initial }
*[data-font-weight="light"] { font-weight: 200 }

*[data-font-style="italic"] { font-style: italic }
*[data-font-style="normal"] { font-style: normal }

/* Fields & forms */
*[data-optional] {
    position: relative;
    &::after {
        content: '(Optional)';
        color: var(--clr-disabled);
        margin-inline: 1ch;
    }
}