.container {
    display: inline-grid;
    place-items: center;
    text-align: center;
    background: var(--clr-dp-02);
    border-radius: var(--radius-medium);
    padding: 3dvh 3dvw;
    gap: 1dvh;

    & p {
        max-width: 40ch;
        text-wrap: pretty;
    }
}