.drawer {
    --initial-inline-padding: .75rem;
    background: var(--clr-dp-00);
    border-right: 2px solid var(--clr-dp-08);
    padding: 1.5rem var(--initial-inline-padding);
    min-width: 12.5dvw;
    width: min-content;
    min-width: min-content;
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;

    height: 100%;

    & > :last-child { margin-top: auto }
}

.account > div, .recent_chats > a {
    display: flex;
    align-items: center;
    gap: .75rem;

    & > button:last-of-type { margin-left: auto }
    &:not(:last-child, a) { margin-bottom: 1rem }   
}

.account { background: var(--clr-dp-08) }

.account, .recent_chats > a {
    border-radius: var(--radius-low);
    padding: 1dvh;
}

.recent_chats > a {
    padding-left: 1rem;
    &:hover { background: var(--clr-dp-08); }
    
    & *:has(span) {
        display: flex;
        flex-direction: column;
        & > :is(span, h2, h3) {
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 10ch;
            /* width: 10ch; */
        }
        
        & > span {
            color: var(--clr-white-medium);
            width: 100%;
        }
    }
}

.category {
    & h3, & h3 > * {
        font-size: var(--font-size-small);
        color: var(--clr-white-medium);
    }
    & > *:last-child { margin-top: .5rem }
}

.category_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /* !important property is used to overlap top layer of
        fresh css which comes from Btn component */
    & > * {
        --_connecting-line-width: .75dvw;
        --_border-shift: calc(var(--_connecting-line-width) * 2 + .5rem);
        font-weight: initial !important; /* Temp. solution (!important) */

        border: none !important; /* Temp. solution (!important) */
        position: relative;
        /* padding-left: 1.5rem !important; */ /* Temp. solution (!important) */
        margin-left: var(--_border-shift);
        margin-block: 0;
        width: calc(
            100%
            - var(--_border-shift)
        ) !important; /* Temp. solution (!important) */
        margin-block: .25rem; /* Experimental */

        &::before, &::after {
            content: '';
            pointer-events: none;
            position: absolute;
            border: 0 solid var(--clr-disabled);
            height: 100%;
            width: var(--_connecting-line-width);
            left: calc(var(--_connecting-line-width) * -1 - .5rem);
            top: 0;
        }

        /* Connecting lines */
        &:not(:last-child)::after {
            border-bottom-width: 2px;
            top: -50%;
        }

        &:not(:last-child)::before { border-left-width: 2px }

        &:last-child::before {
            border-bottom-left-radius: 1dvh;
            border-bottom-width: 2px;
            border-left-width: 2px;
            height: 50%;
        }
    }

}

.category_aligned {
    text-align: center;
    & > * {
        font-weight: initial !important; /* Temp. solution (!important) */
        justify-content: center;
        width: 100% !important;
    }
}